body {
  background-color: #1a1a1a; 
}
h1 {
  font-family: 'Roboto Mono', monospace;
  color: #f5f5dc;
  text-align: center;
  font-size: 70px;
  border-style: hidden;
}
#p1 {font-family: 'Dancing Script';
  color: #f5f5dc;
  text-align: center;
  font-size: 30px;
}
#photo {text-align: center;}
img {
  border-radius: 50%;
  text-align: center;
}

h2 {font-family: 'Roboto Mono', monospace;
  color: #f5f5dc;
  text-align: center;
  font-size: 30px;
  }
#p2 {
  font-family: 'Roboto Mono', monospace;
  color: #f5f5dc;
  text-align: center;
  font-size: 20px;
}
 #p3 {font-family: 'Roboto Mono', monospace;
  color: #f5f5dc;
  text-align: center;
  font-size: 23px;
}
#table {font-family: 'Roboto Mono', monospace;
  color: #f5f5dc;
  text-align: center;
  font-size: 17px;  
}
h3 {font-family: 'Roboto Mono', monospace;
  color: #f5f5dc;
  text-align: center;
  font-size: 30px;
  }
#p4 {font-family: 'Roboto Mono', monospace;
  color: #f5f5dc;
  text-align: center;
  text-indent: ;
  font-size: 20px;
}
h4 {font-family: 'Roboto Mono', monospace;
  color: #f5f5dc;
  text-align: center;
  font-size: 30px;
  }
#p5 {font-family: 'Roboto Mono', monospace;
  color: #f5f5dc;
  text-align: center;
  font-size: 20px;
}
h5 {font-family: 'Roboto Mono', monospace;
  color: #f5f5dc;
  text-align: center;
  font-size: 30px;
  }
#p6 {font-family: 'Roboto Mono', monospace;
  color: #f5f5dc;
  text-align: center;
  font-size: 20px;
}
h6 {font-family: 'Roboto Mono', monospace;
  color: #f5f5dc;
  text-align: center;
  font-size: 30px;
  }
#p7 {font-family: 'Roboto Mono', monospace;
  color: #f5f5dc;
  text-align: center;
  font-size: 20px;
}
#links {font-family: 'Roboto Mono', monospace;
  color: #f5f5dc;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
a:link {
  color: #f5f5dc;
}
a:visited {
  color: #f5f5dc;
}
div.parent {
	text-align: center;
	}
ul { 
	display: inline-block; 
	text-align: left; 
	}